html {
    height: 100%;
    /* background: radial-gradient(circle, #fff,#ccc);
    background: -webkit-radial-gradient(circle, #fff,#ccc);
    background: -moz-radial-gradient(circle, #fff,#ccc); */
    background: #8E93FA;  /* fallback for old browsers */
    font-family: sans-serif;
}

/* styling the loader  start*/

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #8E93FA url('loader.gif') no-repeat center;
    z-index: 22;
}

/* styling the loader end */

body{
    text-align: center;
    color:#fff;
}

/* Styling index page */



#container a {
    display: block;
    position: relative;
    top: 20%;
    left: 30%;
    padding: 1rem;
    text-decoration: none;
    background-color: blueviolet;
    color: #fff;
    margin: 1rem;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
}

#container a:hover{
    background-color:#535aa8;
}



/* Styling the game page */
#container{
    height: 26.25rem;
    width: 37.37rem;
    background-color: #5056C9;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 0px 0px #a026c5;
    position: relative;
}
#score{
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
    position: absolute;
    left : 480px;
    border-radius: 10px;
    /* box-shadow: 0px 4px #a026c5; */

}
#correct{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 200px;
    text-align: center;
    display: none;
    width: 30%;
    font-size: 18px;
}
#wrong{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 200px;
    text-align: center;
    display: none;
    width: 30%;
    font-size: 18px;
}
#question{
    width: 450px;
    height: 150px;
    background-color: blueviolet;
    margin: 50px auto 10px auto;
    box-shadow: 0px 4px #535aa8;
    border-radius: 10px;
    font-size: 100px;
    color: #fff;
    font-family: cursive,sans-serif;
    text-align: center;
}
#instruction{
    width: 450px;
    height: 50px;
    background-color: blueviolet;
    color: white;
    box-shadow: 0px 4px #535aa8;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
}
#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
    font-size: 2rem;
}
.box{
    height: 85px;
    width: 85px;
    background-color: #00005c;
    color: #fff;
    float: left;
    margin-right: 36px;
    border-radius: 5px;
    box-shadow: 0px 4px #535aa8;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    
}
.box:hover, #startreset:hover{
    background-color:#535aa8;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}
.box:active #startreset:active{
    background-color: #535aa8;
    color: white;
    box-shadow: 0px 0px #6b54d3;
    top: 5px;
}
#box4{
     margin-right: 0;
}
#startreset{
    
    width: 78px;
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px #535aa8;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;

}
#timeremaining{
    width: 152px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    background-color: #6a097d;
    color: #fff;
    top:395px;
    left: 390px;
    box-shadow: 0px 4px  #6b54d3;   
    display: none;
}
#gameOver{
    height: 200px;
    width: 500px;
    background-color: #8E93FA;
    border-radius: 20px;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    top: 100px;
    left: 65px;
    position: absolute;
    z-index: 2;
    display: none;

}

.footer{
    color: #fff;
    font-size: 15px;
    padding: 1px 0px;
    text-align: center;
}



/* responsive */

@media(max-width: 600px){
    #container {
        width: 28rem;
        margin: 0;
    }

    #score {
        left: 25rem;
        top: 10px;
    }

    #timeremaining{
        left: 19rem;   
    }

    #gameOver{
        width: 25rem;
    }
    #wrong {
        left: 10rem;
    }
    #correct{
        left: 10rem;
    }
}


@media(max-width: 500px){
    #container {
        width: 24rem;
        margin: 0;
    }

    #score {
        left: 21rem;
        top: 10px;
    }

    #timeremaining{
        left: 17rem;
        font-size: 1rem;
        padding: 6px; 
        width: auto;  
    }

    #gameOver{
        width: 21rem;
        font-size: 2rem;
    }
    #wrong {
        left: 8.5rem;
    }
    #correct{
        left: 8.5rem;
    }

    #question{
        width: auto;
    }

    #instruction{
        width: auto;
    }

    .box{
        margin-right: 12px;
    }
}



